# ONLY .env is allowed to use, .env.local usage will cause errors in runtime
# DO NOT COMMIT YOUR SECRETS TO GITHUB.


NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Open a Supabase Account and create a new project to get these URLs.
DATABASE_URL=""
DIRECT_URL=""

# Add two SECRET variables.
# Run "openssl rand -base64 32" to generate a random secret for Better-Auth Secrets.
BETTER_AUTH_SECRET_V1=""
BETTER_AUTH_SECRET_V2=""
BETTER_AUTH_URL="http://localhost:3000"


# Run "openssl rand -base64 32" to generate a random secret for cron jobs and webhook secrets.
CRON_SECRET=""
SHOWCASE_WEBHOOK_SECRET=""
BLOG_WEBHOOK_SECRET=""
AUTHOR_VALIDATE_SECRET=""

# For GitHub OAuth, you need to create a GitHub OAuth app to get the client ID and secret.
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""


# For this token, you should create your own in github and it here. 
# Do not share your token wit anyone else.
# No permission nedeed, just create a token with no scopes and copy the value here.
# Create one here: https://github.com/settings/personal-access-tokens
GH_STATS_TOKEN=""

# This is for Better Auth Infra, You do not need to specify this.
# It is an optional API key
BETTER_AUTH_API_KEY=""