# ONLY .env is allowed to use, .env.local usage will cause errors in runtime
# DO NOT COMMIT YOUR SECRETS TO GITHUB.


# If you are a core team member, you can request development secrets from the team and add them here.
# If you are not a core team member, use your own secrets.
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
DATABASE_URL=""
DIRECT_URL=""
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"


# Run "openssl rand -base64 32" to generate a random secret for cron jobs and webhook secrets.
CRON_SECRET=""
SHOWCASE_WEBHOOK_SECRET=""
BLOG_WEBHOOK_SECRET=""


GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""


# For this token, you should create your own in github and it here. 
# Do not share your token wit anyone else.
# No permission nedeed, just create a token with no scopes and copy the value here.
# Create one here: https://github.com/settings/personal-access-tokens
GH_STATS_TOKEN=""